body{
    margin: 0;
    background: rgb(238, 238, 238);
    font-family: Helvetica;
    font-weight: 350;
}

.bar {
    height: 110px;
    width: 75%;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}

nav {
    float: right;
}

nav a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    background: rgb(94, 94, 94);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    margin: 0;
    padding: 0;

}

nav li {
    display: inline-block;
    padding-top: 4px;
    margin-left: 50px;
    font-size: 125%;
}

.SSSvid {
    display: block;
    padding-top: 20px;
}

.logo {
    float: left;
    padding: 5px 0;
}

header {
    background: rgb(146, 146, 146)
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.house {
    float: right;
    width: 900px;
}

.book {
    color:rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    background: rgb(94, 94, 94);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book:hover {
    background: rgb(146, 146, 146);
}

.SSS {
    padding-left: 215px;
}

.stunning {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.booked {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
}
