@font-face {
    font-family: Bai Jam;
    src: url(./fonts/BaiJamjuree-Regular.ttf);
}

@font-face {
    font-family: Bai Jam-bold;
    src: url(./fonts/BaiJamjuree-Bold.ttf);
}

body{
    margin: 0;
    background: rgb(238, 238, 238);
    font-family: Helvetica;
    font-weight: 350;
}

nav {
    background-color: #FFF;
	overflow: hidden;
	top: 0;
	width: 100vw;
	box-shadow: 1px 1px 10px #777;
}

nav a {
    float: right;
	color: #000;
	text-align: center;
	padding: 1.7vh 0px 1.7vh 0px;
	margin: 4vh 0px 4vh 0px;
	width: 8vw;
	text-decoration: none;
	font-size: calc(0.55 * (1vh + 1vw));
	font-family: Helvetica;
	transition: background-color 0.25s ease;
	border-right: solid 1px #CCC;
}

#nav_start {
	margin: 4vh 25% 4vh 0px;
}

nav #title_box h1 {
	font-family: "Bai Jam";
	font-size: calc(4.3vh + (0.8 * (1vh + 1vw)));
	margin: 2.5vh 5vw 2.5vh 0px;
	overflow: hidden;
	float: right;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding-top: 4px;
    margin-left: 50px;
    font-size: 125%;
}

nav a:hover{
    background-color: rgba(185, 158, 22, 0.7);
	color: black;
}

nav a.active:hover {
    background-color: rgba(185, 158, 22, 0.7);
	color: black;
}

nav a.active {
    background: rgba(185,158,22,255);
}

.SSSvid {
    display: block;
    padding-left: 7px;
    padding-top: 85px;
}

.logo {
    float: left;
    padding: 5px 0;
}

header {
    background: rgb(146, 146, 146)
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.house {
    float: right;
    width: 1100px;
    padding-bottom: 100;
}

.book {
    color:rgb(238, 238, 238);
    text-decoration: none;
    border-radius: 15px;
    background: rgb(94, 94, 94);
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 0.35s ease;
}

.book:hover {
    background: rgba(185,158,22,255);
}

.opening {
    padding-top: 53px;
    padding-bottom: 50px;
}

.SSS {
    padding-left: 75px;
    /*padding-bottom: 10x;*/
}

.stunning {
    font-family: "Bai Jam-bold";
    font-size: 35px;
    padding-top: 35px;
}

.booked {
    font-family: "Bai Jam";
    font-size: 17px;
    padding-bottom: 30px;
}

.steps {
    padding-left: 15%;
    width: 90%;
}

.easy {
    display: inline-block;
    color:rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.HowIt {
    font-family: "Bai Jam-bold";
    font-size: 35px;
    text-align: center;
}

.products {
    background-image: url(./images/house2.jpg);
    height: 570px;
    background-position: center;
    border-radius: 10px;
}

.PTitle {
    color: rgb(238, 238, 238);
    padding-top: 30px;
    padding-left: 15%;
    font-family: "Bai Jam-bold";
    font-size: 35px;
}

.boldit {
    padding-left: 15%;
    font-family: "Bai Jam-bold";
    font-size: 20px;
    color: rgb(238, 238, 238);
}

.pointul {
    padding-left: 20%;
    font-family: "Bai Jam";
    font-size: 20px;
    color: rgb(238, 238, 238);
}

* {box-sizing: border-box;}

/*.slideholder {
    background-color: rgba(185, 158, 22, 0.7);
}*/

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-bottom: 45px;
}

.slides {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(185,158,22,255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

.next {
    right: 0;
}

.previous:hover, .next:hover {
    background-color: rgba(146, 146, 146, 0.3);
}

.number {
    color: rgb(238, 238, 238);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(146, 146, 146);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: rgba(185,158,22,255);
}

.dot:hover {
    background-color: rgba(185, 158, 22, 0.7);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.7s;
    animation-name: fade;
    animation-duration: 0.7s;
}

@-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

.footer {
    padding-top:12px;
    height: 100px;
    text-align: center;
    font-family: "Bai Jam";
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(146, 146, 146);
}