@charset "utf-8";

@font-face {
	font-family: Fahkwang; 
	src: url("../resources/Fahkwang-ExtraLight.ttf");
}

.topnav a {
	float: right;
	color: #000;
	text-align: center;
	padding: 1.6vh 0px 1.6vh 0px;
	margin: 2.8vh 0px 2.8vh 0px;
	width: 8vw;
	text-decoration: none;
	font-size: calc(0.5 * (1vh + 1vw));
	font-family: Helvetica;
	transition: background-color 0.25s ease;
	border-right: solid 1px #CCC;
}

.topnav h1 {
	float: right;
	margin: 0px 0px 0px 0px;
	font-size: calc(2.2 * (1vh + 1vw));
	font-family: Fahkwang;
	margin: 1vh 5vw 1vh 0px;
}

#nav_start {
	margin: 3.2vh 25% 3.2vh 0px;
}

body {
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
}

.content {
	margin: 0;
}

.topnav {
	background-color: #FFF;
	overflow: hidden;
	top: 0;
	width: 100vw;
	box-shadow: 1px 1px 10px #777;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: rgb(116, 116, 116);
	color: white;
}