@charset "utf-8";

@font-face {
	font-family: Fahkwang; 
	src: url("../fonts/Fahkwang-ExtraLight.ttf");
}

@font-face {
	font-family: BaiJamjuree;
	src: url("../fonts/BaiJamjuree-Regular.ttf");
}

.topnav a {
	float: right;
	color: #000;
	text-align: center;
	padding: 1.7vh 0px 1.7vh 0px;
	margin: 4vh 0px 4vh 0px;
	width: 8vw;
	text-decoration: none;
	font-size: calc(0.55 * (1vh + 1vw));
	font-family: Helvetica;
	transition: background-color 0.25s ease;
	border-right: solid 1px #CCC;
}

.topnav #title_box h1 {
	font-family: Fahkwang;
	font-size: calc(4.3vh + (0.8 * (1vh + 1vw)));
	margin: 2.5vh 5vw 2.5vh 0px;
	overflow: hidden;
	float: right;
}

#nav_start {
	margin: 4vh 25% 4vh 0px;
}

body {
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	font-family: BaiJamjuree;
}

.content {
	margin: 0;
}

#i_strip_1_box h1 {
	font-size: calc(1.5 * (1vh + 1vw));
}

#i_strip_1_box p {
	font-size: calc(1 * (1vh + 1vw));
}

.topnav {
	background-color: #FFF;
	overflow: hidden;
	top: 0;
	width: 100vw;
	box-shadow: 1px 1px 10px #777;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: rgb(116, 116, 116);
	color: white;
}

#i_strip_1_box {
	margin: 0px 15vw 0px 15vw;
}

#i_strip_1_text {
	margin: 0px 50% 0px 0px;
	float: left;
}

#i_strip_1_text a {
	color: #FFF;
	padding: 2vh;
	background-color: #777;
	border-radius: 2.5vh;
	text-decoration: none;
	transition: background-color 0.25s ease;
}

#i_strip_1_text a:hover {
	background-color: rgb(221, 221, 221);
	color: #000;
}

#i_strip_1_img_1 {
	position: absolute;
	margin: 5vh 0vw 0px 35vw;
	width: 45vw;
}

#i_strip_1_img_2 {
	margin: 0vh 15vw 0px 0vw;
	width: 73vw;
	position: absolute;
}